
.submit_button {
    background-color: #E10075; /* Green */
    border: none;
    color: white;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
    background-color: white; 
    color: black; 
    border: 2px solid #E10075;  
    border-radius: 4px;
}
  
.submit_button:hover {
    background-color: #E10075;
    color: white;
  }

  .disabled{
    transition-duration: 0.4s;
    background-color: rgb(200, 200, 200);
    border: 2px solid rgb(131, 131, 131);
    color: black; 

  }
  .submit_button.disabled:hover {
    background-color: rgb(200, 200, 200);
    border: 2px solid rgb(131, 131, 131);
    color: black; 
    
  }