
.form_container{
    width: 50%;
    margin: auto;
}
.toggleContainer{
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.btnsContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

