body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.confirmation-content{
  display: flex;
  align-items: center;
  justify-content: center;
  padding: auto;
  margin: auto;
  /* padding: 0 120px; */
}
.confirmation-content * {
  margin:  0 5px;
}
.watermark, .leftwatermark {
  display: none !important;
}

frame #app-settings-dropdown-menu{
  display:none;
}