.alert_box{

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;

    /* margin: auto; */
    width: 0;
    height: 0;
    color: red;
    border-radius: 6px;
    background-color: white;
    padding: 10px;
    transition: 0.5s;
    &.close{

        color: rgba(255, 0, 0, 0);
        font-size: 0rem;
        transition: 0.5s;
        border:none;
        width: 0;
        height: 0;
    }
}

.open{
    transition: 0.5s;
    font-size: 0.813rem;
    color: rgb(255, 0, 0);
    width: 100%;
}

.exception_block{
    display: flex;
    left: 0;
    width: 100%;
    align-items: center;
}