
.form_container{
    width: 50%;
    margin: auto;
}

.btnsContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.checkCircle{
    
    margin: 100px;
    height: 230px;
    font-size: 9.375rem;
    opacity: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
}
.success{
    color: green;
}

.failure{
    color: red;
}